<h1>Welcome to the Finance Tracker Appilcation</h1>
<%= button_to 'My Watchlist' , my_portfolio_path , :method => :get %><br>
<%= button_to 'My Portfolio' , my_holdings_holdings_path , :method => :get %><br>
<%= button_to 'Sign out' , destroy_user_session_path , method: :delete  %>